/* HomePage.css */

/* Página inicial */
.home-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* Seção de coleções */
.collections-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.collection-image {
  width: 100%;
  max-width: 400px;
  height: 251px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  margin: 12px;
}

.collection-image:hover {
  transform: scale(1.1);
}


.category{
  height: 104px;
  width: 100%;
  border-radius: 50%;
  background-color: var(--white);
}

.collection-category{
 display: flex;
 justify-content: center;
 padding: 48px;
 width: 720px;
 height: 138px;
}

.navigation{
  display: flex;
  flex-direction:column ;
}