.buy-box {
  text-align: center;
  margin-top: 20px;
}

.buy-box .price {
  font-size: 20px;
  margin: 10px 0;
}

.buy-box .price.original {
  text-decoration: line-through;
  color: var(--light-gray);
}

.buy-box .price.discount {
  color: var(--dark-gray);
}

.button{
  width: 220px;
  height: 48px;
  font-weight: bold;
}

.Button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.buy-button {
  padding: 0.75rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Cart-button:hover{
  background-color: var(--tertiary);
  transform: scale(1.1);
}

.buy-button:hover{
  background-color: var(--warning);
  transform: scale(1.1);
}
